<div class="flex direction-column align-center mt-5">
    <table>
        <tr class="header">
            <th>First name</th>
            <th>Last name</th>
            <th>Size</th>
            <th>Payment day</th>
            <th>Duration</th>
        </tr>
        <tr class="history-unit" *ngFor="let row of tableData" (click)="alert(row)">
            <td>John</td>
            <!-- name and lastname form landing if registred and if not then credit form-->
            <td>Doe</td>
            <td>{{row.creditSize}}</td>
            <td>{{row.creditPayday}}</td>
            <td>{{row.creditDuration}}</td>
        </tr>
    </table>

    <div class="buttons">
        <button>DELETE</button>
        <button>INFO</button>
    </div>

</div>