.step-three {
    .form {
        div {
            margin-top: .6rem;
            font-weight: 700;
            font-size: 1.2rem;
            p {
                font-weight: 500;
                margin-left: .6rem;
            }
        }
    }
}