<div class="step-two mt-5">
    <h1>Delivery information</h1>

    <form [formGroup]="secondForm" class="flex direction-column" (ngSubmit)="secondFormSubmit()">

        <p>City</p>
        <input type="text" formControlName="city" class="p-2">
        <p class="error ml-2 hidden" [ngClass]="{'display' : secondForm.get('city').touched && secondForm.get('city').invalid}">
            This field must be filled
        </p>
        <p>Address</p>
        <input type="text" formControlName="address" class="p-2">
        <p class="error ml-2 hidden" [ngClass]="{'display' : secondForm.get('city').touched && secondForm.get('city').invalid}">
            This field must be filled
        </p>
        <p>Zip code</p>
        <input type="text" formControlName="zip" class="p-2">
        <p class="error ml-2 hidden" [ngClass]="{'display' : secondForm.get('zip').touched && secondForm.get('zip').invalid}">
            This field must be filled
        </p>
        <div class="buttons flex justify-around mt-3">
            <button (click)="back()">BACK</button>
            <button type="submit" [disabled]="!secondForm.valid">NEXT</button>
        </div>
    </form>

    <p>
        form status: {{secondForm.status}}
    </p>


</div>