<div class="flex direction-column align-center mt-5">


    <div class="table">
        <div class="row flex tableTitle">
            <div class="cel">Customer name</div>
            <div class="cel">Product name</div>
            <div class="cel">Price</div>
            <div class="cel">Delivery date</div>
        </div>
        <div class="row flex tableRow" *ngFor="let row of tableData">
            <div class="cel">{{row.firstName }} {{row.lastName}}</div>
            <div class="cel">{{row.productName}}</div>
            <div class="cel">{{row.productPrice}}</div>
            <div class="cel">{{row.deliveryDate}}</div>
            <div class="buttons flex justify-around hidden">
                <button>DELETE</button>
                <button (click)="alert(row)">INFO</button>
            </div>
        </div>
    </div>




</div>