<div class="step-two mt-5">
    <h1>Payment information</h1>
    <form [formGroup]="thirdForm" class="flex direction-column" (ngSubmit)="thirdFormSubmit()">
        <p>City</p>
        <input type="text" formControlName="a" class="p-2">
        <p class="error ml-2 hidden" [ngClass]="{'display' : thirdForm.get('a').touched && thirdForm.get('a').invalid}">
            This field must be filled
        </p>
        <p>Address</p>
        <input type="text" formControlName="b" class="p-2">
        <p class="error ml-2 hidden" [ngClass]="{'display' : thirdForm.get('b').touched && thirdForm.get('b').invalid}">
            This field must be filled
        </p>
        <p>Zip code</p>
        <input type="text" formControlName="c" class="p-2">
        <p class="error ml-2 hidden" [ngClass]="{'display' : thirdForm.get('c').touched && thirdForm.get('c').invalid}">
            This field must be filled
        </p>
        <div class="buttons flex justify-around mt-3">
            <button (click)="back()">BACK</button>
            <button type="submit" [disabled]="!thirdForm.valid">NEXT</button>
        </div>

    </form>

</div>