<div class="step-one mb-5 mt-5">
    <h1>Buyer information</h1>

    <form [formGroup]="firstForm" class="flex direction-column" (ngSubmit)="firstFormSubmit()">
        <p>First name</p>
        <input type="text" formControlName="firstName" class="p-2">
        <p class="error ml-2 hidden" [ngClass]="{'display' : firstForm.get('firstName').touched && firstForm.get('firstName').invalid}">
            This field must be filled
        </p>

        <p>Last name</p>
        <input type="text" formControlName="lastName" class="p-2">
        <p class="error ml-2 hidden" [ngClass]="{'display' : firstForm.get('lastName').touched && firstForm.get('lastName').invalid}">
            This field must be filled
        </p>

        <p>Email</p>
        <input type="text" formControlName="email" class="p-2">
        <p class="error ml-2 hidden" [ngClass]="{'display' : firstForm.get('email').touched && firstForm.get('email').invalid}">
            This field must be filled
        </p>

        <p>Phone</p>
        <div class="phone flex">
            <select id="phone">
                <option value="+370" selected>+370</option>
                <option value="{{option}}" *ngFor="let option of phoneSelectOptions">{{option}}</option>
            </select>
            <input type="number" formControlName="phone" [ngClass]="{'is-invalid' : firstForm.get('phone').touched && firstForm.get('phone').invalid}" class="p-2">
        </div>
        <p class="error ml-2 hidden" [ngClass]="{'display' : firstForm.get('phone').touched && firstForm.get('phone').invalid}">
            This field must be filled
        </p>







        <div class="buttons flex justify-center mt-3">
            <button type="submit" [disabled]="!firstForm.valid">NEXT</button>

        </div>
    </form>

    <p>
        form status: {{firstForm.status}}
    </p>

</div>