<div class="step-three mt-5">
    <h1>Information</h1>
    <div class="form">
        <div class="firstNameWrapper flex">
            First name:
            <p class="firstName">{{placeholder}}</p>
        </div>
        <div class="lastNameWrapper flex">
            Last name:
            <p class="lastName">{{placeholder}}</p>
        </div>
        <div class="emailWrapper flex">
            Email:
            <p class="email">{{placeholder}}</p>
        </div>
        <div class="phoneWrapper flex">
            Phone:
            <p class="phone">{{placeholder}}</p>
        </div>
        <div class="adressWrapper flex">
            Adress:
            <p class="adress">{{placeholder}}</p>
        </div>
        <div class="creditSizeWrapper flex">
            Credit size:
            <p class="creditSize">{{placeholder}}</p>
        </div>
        <div class="creditDurationWrapper flex">
            Credit duration:
            <p class="creditDuration">{{placeholder}}</p>
        </div>
        <div class="creditPaymentDayWrapper flex">
            Credit duration:
            <p class="creditPaymentDay">{{placeholder}}</p>
        </div>
        <div class="consent flex align-center mb-3">
            <input type="radio">
            <p>I accept lorem ipsum</p>
        </div>
    </div>

    <div class="buttons flex justify-around mt-3">
        <button (click)="back()">BACK</button>
        <button type="submit">SUBMIT</button>
    </div>
</div>