<div class="landing flex direction-column justify-center align-center">
    <h1 class="m-bottom-sm">Shop Now!</h1>
    <div class="m-bottom-sm">
        <app-button text="Log in!" class="m-x-xs" theme="theme-primary" routerLink="/login"></app-button>
        <app-button text="Register!" class="m-x-xs" theme="theme-primary" routerLink="/register"></app-button>
    </div>
    <h1 class="m-bottom-sm">or shop as a guest</h1>
    <app-button text="Start!" theme="theme-primary" routerLink="/order/form"></app-button>
</div>