@import '../theme/variables.scss';
// Flex
.flex {
    display: flex;
    &.direction-column {
        flex-direction: column;
    }
    &.justify {
        &-center {
            justify-content: center;
        }
        &-around {
            justify-content: space-around;
        }
        &-between {
            justify-content: space-between;
        }
        &-evenly {
            justify-content: space-evenly;
        }
    }
    &.align {
        &-center {
            align-items: center;
        }
        &-end {
            align-items: flex-end;
        }
        &-start {
            align-items: flex-start;
        }
    }
}

// Margin
.m {
    &-top {
        &-xs {
            margin-top: $xs;
        }
        &-sm {
            margin-top: $sm;
        }
        &-md {
            margin-top: $md;
        }
        &-lg {
            margin-top: $lg;
        }
        &-xl {
            margin-top: $xl;
        }
        &-auto {
            margin-top: auto;
        }
    }
    &-right {
        &-xs {
            margin-right: $xs;
        }
        &-sm {
            margin-right: $sm;
        }
        &-md {
            margin-right: $md;
        }
        &-lg {
            margin-right: $lg;
        }
        &-xl {
            margin-right: $xl;
        }
        &-auto {
            margin-right: auto;
        }
    }
    &-bottom {
        &-xs {
            margin-bottom: $xs;
        }
        &-sm {
            margin-bottom: $sm;
        }
        &-md {
            margin-bottom: $md;
        }
        &-lg {
            margin-bottom: $lg;
        }
        &-xl {
            margin-bottom: $xl;
        }
        &-auto {
            margin-bottom: auto;
        }
    }
    &-left {
        &-xs {
            margin-left: $xs;
        }
        &-sm {
            margin-left: $sm;
        }
        &-md {
            margin-left: $md;
        }
        &-lg {
            margin-left: $lg;
        }
        &-xl {
            margin-left: $xl;
        }
        &-auto {
            margin-left: auto;
        }
    }
    &-x {
        &-xs {
            margin-left: $xs;
            margin-right: $xs;
        }
        &-sm {
            margin-left: $sm;
            margin-right: $sm;
        }
        &-md {
            margin-left: $md;
            margin-right: $md;
        }
        &-lg {
            margin-left: $lg;
            margin-right: $lg;
        }
        &-xl {
            margin-left: $xl;
            margin-right: $xl;
        }
        &-auto {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-y {
        &-xs {
            margin-top: $xs;
            margin-bottom: $xs;
        }
        &-sm {
            margin-top: $sm;
            margin-bottom: $sm;
        }
        &-md {
            margin-top: $md;
            margin-bottom: $md;
        }
        &-lg {
            margin-top: $lg;
            margin-bottom: $lg;
        }
        &-xl {
            margin-top: $xl;
            margin-bottom: $xl;
        }
        &-auto {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

// Padding
.p {
    &-top {
        &-xs {
            padding-top: $xs;
        }
        &-sm {
            padding-top: $sm;
        }
        &-md {
            padding-top: $md;
        }
        &-lg {
            padding-top: $lg;
        }
        &-xl {
            padding-top: $xl;
        }
        &-auto {
            padding-top: auto;
        }
    }
    &-right {
        &-xs {
            padding-right: $xs;
        }
        &-sm {
            padding-right: $sm;
        }
        &-md {
            padding-right: $md;
        }
        &-lg {
            padding-right: $lg;
        }
        &-xl {
            padding-right: $xl;
        }
        &-auto {
            padding-right: auto;
        }
    }
    &-bottom {
        &-xs {
            padding-bottom: $xs;
        }
        &-sm {
            padding-bottom: $sm;
        }
        &-md {
            padding-bottom: $md;
        }
        &-lg {
            padding-bottom: $lg;
        }
        &-xl {
            padding-bottom: $xl;
        }
        &-auto {
            padding-bottom: auto;
        }
    }
    &-left {
        &-xs {
            padding-left: $xs;
        }
        &-sm {
            padding-left: $sm;
        }
        &-md {
            padding-left: $md;
        }
        &-lg {
            padding-left: $lg;
        }
        &-xl {
            padding-left: $xl;
        }
        &-auto {
            padding-left: auto;
        }
    }
    &-x {
        &-xs {
            padding-left: $xs;
            padding-right: $xs;
        }
        &-sm {
            padding-left: $sm;
            padding-right: $sm;
        }
        &-md {
            padding-left: $md;
            padding-right: $md;
        }
        &-lg {
            padding-left: $lg;
            padding-right: $lg;
        }
        &-xl {
            padding-left: $xl;
            padding-right: $xl;
        }
        &-auto {
            padding-left: auto;
            padding-right: auto;
        }
    }
    &-y {
        &-xs {
            padding-top: $xs;
            padding-bottom: $xs;
        }
        &-sm {
            padding-top: $sm;
            padding-bottom: $sm;
        }
        &-md {
            padding-top: $md;
            padding-bottom: $md;
        }
        &-lg {
            padding-top: $lg;
            padding-bottom: $lg;
        }
        &-xl {
            padding-top: $xl;
            padding-bottom: $xl;
        }
        &-auto {
            padding-top: auto;
            padding-bottom: auto;
        }
    }
}

// Validation
.is-invalid {
    border: 2px solid red;
}