@import '../theme/variables.scss';
body,
html {
    height: 100%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: $font-xl;
    color: $text-dark;
}

button {
    background-color: transparent;
    color: $text-dark;
    font-weight: $font-bold;
    padding: .5rem 1rem;
    font-size: $font-sm;
    border: none;
    border-radius: 5px;
    transition: .3s;
    width: 150px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: $primary;
    font-weight: $font-bold;
    transition: .3s;
    &:hover {
        cursor: pointer;
        color: $secondary;
    }
}