// Colours
$color-primary: black;
$color-secondary: red;
$color-disabled: rgb(201, 201, 201);
$color-background: orange;
$color-accent: orange;
// Fonts
$font-small: .8rem;
$font-medium: 1rem;
$font-large: 1.2rem;